.navigation {
  z-index: 10000;
}
.absearch {
  height: 100%;
  width: 100%;
  display: grid;
}
.top,
.bottom {
  z-index: 1000;
}
.top {
  grid-area: top;
}
.middle {
  grid-area: map;
}
.bottom {
  grid-area: bottom;
  min-height: 0;
}
.footerad {
  grid-area: ad;
  z-index: 20000;
  background: white;
  text-align: center;
}

$searchfieldsHeight: 120px;
$footerAdsHeight: 50px;
$space-top: 170px;

@media (max-width: 600px) {
  .absearch {
    grid-template-columns: 100vw;
    &.no-results {
      grid-template-rows: $searchfieldsHeight 1fr $footerAdsHeight;
      grid-template-areas: 'top' 'map' 'ad';
    }
    &.with-results {
      grid-template-rows: $searchfieldsHeight 1fr 90px $footerAdsHeight;
      grid-template-areas: 'top' 'map' 'bottom' 'ad';
    }
  }
  .bottom {
    height: calc(100% - #{$space-top} - 90px - #{$footerAdsHeight});
    background: white;
  }
  .bottom.small {
    position: absolute;
    width: 100%;
    top: $space-top;
  }
}
@media (min-width: 601px) {
  .absearch {
    grid-template-areas: 'top map' 'bottom map' 'ad map';
    grid-template-rows: $searchfieldsHeight calc(100% - #{$searchfieldsHeight} - #{$footerAdsHeight}) $footerAdsHeight;
    grid-template-columns: 400px 1fr;
  }
}
