.navigation {
  z-index: 10000;
}
.main {
  height: 100%;
  width: 100%;
  display: grid;
  min-height: 0;
  min-width: 0;
}
.top,
.bottom {
  z-index: 1000;
}
.top {
  grid-area: top;
  min-height: 0;
  min-width: 0;
}
.middle {
  grid-area: map;
  min-height: 0;
  min-width: 0;
}
.bottom {
  grid-area: bottom;
  min-height: 0;
  min-width: 0;
}

@media (max-width: 600px) {
  .main {
    grid-template-columns: 100vw;
    &.no-results {
      grid-template-rows: 120px 1fr;
      grid-template-areas: 'top' 'map';
    }
    &.with-results {
      grid-template-rows: 120px 1fr 90px;
      grid-template-areas: 'top' 'map' 'bottom';
    }
  }
  .bottom {
    height: calc(100vh - 120px - 150px);
    background: white;
  }
  .bottom.small {
    position: absolute;
    width: 100%;
    top: 170px;
  }
}
@media (min-width: 601px) {
  .main {
    grid-template-areas: 'top map' 'bottom map';
    grid-template-rows: 130px 1fr;
    grid-template-columns: 400px 1fr;
  }
}
