.search-container {
  display: grid;
  padding-top: 1px;
  padding-bottom: 20px;
  grid-template-columns: 17px 25px 1fr 50px;
  grid-template-rows: 41px 35px 35px;
  grid-template-areas: 'topbar topbar topbar topbar' 'swap swap origin origin' 'swap swap destination destination';
  align-items: center;
}

.topbar {
  grid-area: topbar;
}

.swap {
  grid-area: swap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share {
  grid-area: share;

  i {
    font-size: 20px;
  }
}

.menubtn {
  grid-area: menu;
}

.input-group {
  padding-top: 0;
  margin-left: 20px;
}

.input-location {
  background-color: #4FA9D4;
  color: #eee;
  height: 34px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: text;
  margin: 0 10px 0 4px;

  &.origin {
    grid-area: origin;
    position: relative;

    .cue {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      width: 4px;
      background-color: #ffb703;
    }
  }

  &.destination {
    grid-area: destination;
    position: relative;

    .cue {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      width: 4px;
      background-color: #b72815;
    }
  }
}